* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
body { 
  margin:0px auto;
  padding:0px;
  font-family: 'Titillium Web', sans-serif;
  background: white;
  width: 100%;
}

.header {
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-name {
  font-size: 60px;
}

.top {
  background:     linear-gradient(
      rgba(86, 98, 117, 0.75), 
      rgba(86, 98, 117, 0.75)
    ),
  url('img/black-and-white-surf.jpg');
  background-size: cover;
  height: 550px;
  background-position-y: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top__content {
  color: #fff;
}

.bottom {
  min-height: 250px;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
}

.bottom__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom__content, .projects-section {
  width: 100%;
}

.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.project {
  max-width: 200px;
}

.project img {
  max-width: 100%;
}

.footer {
  height: 200px;
  background: #9AC3C8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.footer__content {
}

.footer_links {
  display: flex;
}

.footer_links a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}














